@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #1C1B22;
    --body-font-family: "Roboto", sans-serif;
    --border-radius: 0.5rem;
    --box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 1);
    --container-width: min(100% - var(--padding) * 2, 50rem);
    --highlight-color: #ffbc3e;
    --padding: 1.5rem;
    --search-color: var(--background-color);
    --search-font-family: "Acme", serif;
    --search-font-size: 1rem;
}

html {
    align-items: center;
    display: grid;
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font-family);
    margin-block: var(--padding);
}

main {
    margin-inline: auto;
    max-width: var(--container-width);
}

.portrait {
    background-image: url("../images/portrait.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-inline: auto;
    min-height: 240px;
    overflow: hidden;
    width: 100%;

    & img {
        display: block;
        width: 100%;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin-block: var(--padding);
    width: 100%;

    & form {
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        display: grid;
        grid-template-columns: max-content auto max-content;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    & input {
        background: color-mix(in srgb, var(--background-color) 10%, white);;
        border: none; 
        color: var(--search-color);
        display: block;
        font-family: var(--search-font-family);
        font-size: var(--search-font-size);
        font-weight: 400;
        outline: none;
        padding: 1rem;
        text-align: center;
        width: 100%;
    }

    & button {
        aspect-ratio: 1;
        border: none;
        background: color-mix(in srgb, var(--background-color) 90%, white);
        color: white;
        cursor: pointer;
    }
}

.gallery {
    display: grid;
    grid-gap: var(--padding);
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-block: var(--padding);
    width: 100%;

    & .card {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);

        &:hover {
            background-color: rgba(0, 0, 0, 0.75);
        }
    }
}

h1 {
    color: var(--highlight-color);
    font-family: var(--search-font-family);
    font-size: 2.75rem;
    margin-block-end: calc(4px + var(--padding));
    text-align: center;
}

h2 {
    color: var(--highlight-color);
    font-family: var(--search-font-family);
    font-size: 1.5rem;
    font-weight: 400;
    margin-block-end: calc(var(--padding) + 8px);
    position: relative;
    text-align: center;

    &::after {
        background: linear-gradient(to right, transparent, var(--highlight-color), transparent);
        bottom: -8px;
        content: " ";
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
    }
}

hr {
    background: linear-gradient(to right, transparent, var(--highlight-color), transparent);
    border: unset;
    content: " ";
    display: block;
    height: 2px;
    margin-block: var(--padding);
    width: 100%;
}

.links {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    list-style: none;
    overflow: hidden;

    li {
        &:nth-of-type(odd) {
            background-color: color-mix(in srgb, var(--background-color) 50%, black);
        }

        &:nth-of-type(even) {
            background-color: color-mix(in srgb, var(--background-color) 40%, black);
        }
    }

    a {
        color: white;
        display: block;
        padding: 1rem;
        text-decoration: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

button {
    /* aspect-ratio: 1; */
    border: none;
    background: color-mix(in srgb, var(--background-color) 98%, white);
    border-radius: var(--border-radius);
    color: color-mix(in srgb, var(--background-color) 75%, black);
    cursor: pointer;
    display: block;
    margin-inline: auto;
    padding: calc(var(--padding) / 2);

    &#deleteAll {
        margin-block: var(--padding);
    }
}